html {
  font-size: 16px;
}

body {
  font-family: monospace;
  max-width: 700px;
  margin: 1rem auto;
}

a:visited {
  color: blue;
}

img {
  max-width: 600px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 1rem;
  }
  img {
    max-width: 90vw;
  }
}
